main {
    width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 10px auto;
}



.taskUnit {
    padding: 10px;
    background-color: rgb(224, 73, 26);
    border: 2px solid rgb(26, 24, 24);
}

.taskUnit h2 {
    margin: 10px 0;
}

.taskUnit span {
    margin: 10px 0;
}

.deleteButton {
    display: block;
    width: 250px;
    line-height: 2rem;
    text-align: center;
    margin: 10px auto;
}

.selected {
    background-color: orange;
}